<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>

    <body width="100%" style="margin: 0; padding: 35px">
        <center style="width: 100%; background-color: transparent;">
            <table style="width: 80%; margin-top: 40px;">
                <tr>
                    <td style="padding-bottom: 20px;">
                        <span>
                            Ahoj makere!
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Bohužel jsi nevyplnil/a dostatečný počet otázek správně, a tak ti nemůžu udělit školení <b>{{ training_title }}</b>.
                        Nemusíš ale věšet hlavu, ještě máš možnost si znovu projít videoškolením a potom opět zkusit absolvovat test.
                        Tak se přihlaš do svého profilu na <a href="https://shop.fablabbrno.cz">www.shop.fablabbrno.cz</a>, a zkus to znovu! Držím palce!
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 20px;">
                        Tvůj
                    </td>
                </tr>
                <tr>
                    <td>
                        FabLab Brno Robot
                    </td>
                </tr>
            </table>
            <table style="width: 80%; margin-top: 40px;">
                <tr>
                    <td style="padding-bottom: 20px;">
                        Hi maker!
                    </td>
                </tr>
                <tr>
                    <td>
                        Unfortunately, you did not answer enough questions correctly, and because of that,
                        it was not possible to grant you training <b>{{ training_title }}</b>.
                        Luckily, you still can rewatch the video training and attempt the test again.
                        So sign in to your profile at <a href="https://www.shop.fablabbrno.cz">www.shop.fablabbrno.cz</a>, and try it again!
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 20px;">
                        Yours
                    </td>
                </tr>
                <tr>
                    <td>
                        FabLab Brno Robot
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>
