<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>

    <body width="100%" style="margin: 0; padding: 35px">
        <center style="width: 100%; background-color: transparent;">
            <table style="width: 80%; margin-top: 40px;">
                <tr>
                    <td style="padding-bottom: 20px;">
                        <span>
                            Ahoj makere!
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Tak to bohužel nevyšlo. Vyčerpal/a jsi všechny pokusy úspěšně absolvovat test a nemůžeš tak získat školení <b>{{ training_title }}</b>.
                        Napiš na <a href="mailto:info@fablabbrno.cz">info@fablabbrno.cz</a> a nějak to společně vymyslíme.
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 20px;">
                        Tvůj
                    </td>
                </tr>
                <tr>
                    <td>
                        FabLab Brno Robot
                    </td>
                </tr>
            </table>
            <table style="width: 80%; margin-top: 40px;">
                <tr>
                    <td style="padding-bottom: 20px;">
                        Hi maker!
                    </td>
                </tr>
                <tr>
                    <td>
                        Unfortunately, it didn't work out. You have exhausted all attempts to successfully complete
                        the test and therefore cannot receive training <b>{{ training_title }}</b>.
                        Send an email to <a href="mailto:info@fablabbrno.cz">info@fablabbrno.cz</a> and we'll figure it out together.
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 20px;">
                        Yours
                    </td>
                </tr>
                <tr>
                    <td>
                        FabLab Brno Robot
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>
