<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>

    <body width="100%" style="margin: 0; padding: 35px">
        <center style="width: 100%; background-color: transparent;">
            <table style="width: 80%; margin-top: 40px;">
                <tr>
                    <td style="padding-bottom: 20px;">
                        <span>
                            Ahoj makere!
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Gratuluji, právě jsi úspěšně absolvoval/a školení <b>{{ training_title }}</b>,
                        takže už jsi zase o něco zkušenější a možnosti tvé tvorby se rozšířily o další technologii.
                        Pokud bys hledal/a inspiraci pro to, co tvořit, podívej se na projekty
                        <a href="https://www.fablabbrno.cz//fablabbrno.cz/made-in-fablab/">Made in FabLab</a> nebo na stránky s projekty
                        na naší <a href="https://wiki.fablabbrno.cz/">Wiki</a>.
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 20px;">
                        Tvůj
                    </td>
                </tr>
                <tr>
                    <td>
                        FabLab Brno Robot
                    </td>
                </tr>
            </table>
            <table style="width: 80%; margin-top: 40px;">
                <tr>
                    <td style="padding-bottom: 20px;">
                        Hi maker!
                    </td>
                </tr>
                <tr>
                    <td>
                        Congratulations, you just successfully passed the <b>{{ training_title }}</b> training!
                        It´s awesome that you gather more and more knowledge and means of making.
                        If you are looking for an inspiration of what to make, check out
                        <a href="https://www.fablabbrno.cz//fablabbrno.cz/made-in-fablab/">Made in FabLab</a> projects,
                        or our <a href="https://wiki.fablabbrno.cz/">Wiki</a> with websites full of project ideas.
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 20px;">
                        Yours
                    </td>
                </tr>
                <tr>
                    <td>
                        FabLab Brno Robot
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>
