<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>

    <body width="100%" style="margin: 0; padding: 35px">
        <center style="width: 100%; background-color: transparent;">
            <table style="width: 80%; margin-top: 40px;">
                <tr>
                    <td style="padding-bottom: 20px;">
                        <span>
                            Ahoj makere!
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        tvému zaškolení na <b>{{ training_title }}</b> právě vypršela roční platnost.
                        Abys měl/a povolený přístup do dílny, je potřeba abys školením prošel/prošla znovu. Jak na to?
                        Stačí se znovu podívat na video a absolvovat <a href="{{ training_url }}">test</a>.
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 20px;">
                        Tvůj
                    </td>
                </tr>
                <tr>
                    <td>
                        FabLab Brno Robot
                    </td>
                </tr>
            </table>
            <table style="width: 80%; margin-top: 40px;">
                <tr>
                    <td style="padding-bottom: 20px;">
                        Hi maker!
                    </td>
                </tr>
                <tr>
                    <td>
                        your <b>{{ training_title }}</b> training just expired for a year. To be allowed access to the
                        workshop, you need to pass the training again. How to do it? It´s quite easy. Just watch the
                        video again and take a <a href="{{ training_url }}">test</a>.
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 20px;">
                        Yours
                    </td>
                </tr>
                <tr>
                    <td>
                        FabLab Brno Robot
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>
