<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>

    <body width="100%" style="margin: 0; padding: 35px">
        <center style="width: 100%; background-color: transparent;">
            <table style="width: 80%; margin-top: 40px;">
                <tr>
                    <td style="padding-bottom: 20px;">
                        <span>
                            Ahoj makere!
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Bohužel se něco nepovedlo a my se na to musíme podívat. Tento email jsem poslal i týmu FabLabu,
                        který tě bude kontaktovat hned, jak bude vědět, kde se stala chyba. Díky za pochopení.
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 20px;">
                        Tvůj
                    </td>
                </tr>
                <tr>
                    <td>
                        FabLab Brno Robot
                    </td>
                </tr>
            </table>
            <table style="width: 80%; margin-top: 40px;">
                <tr>
                    <td style="padding-bottom: 20px;">
                        Hi maker!
                    </td>
                </tr>
                <tr>
                    <td>
                        unfortunately something went wrong, and we need to check it manualy. I sent an email to
                        FabLab Team. They will contact you as soon as they´ll know what happened. Thank you for your understanding.
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 20px;">
                        Yours
                    </td>
                </tr>
                <tr>
                    <td>
                        FabLab Brno Robot
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>
